/**
 * fonte
 *
 * @format
 */

/* 
font-family: "Baskervville"
font-family: "Quattrocento" 
font-family: "Satisfy" 
*/

:root {
  --primary: #e7e7dd;
  --secondary: #b8b1a7;
  --accent: #7e3549;
  --brown: #3c2d2a;

  --space-xxs: 0.25rem;
  --space-xs: 0.8rem;
  --space-sm: 1rem;
  --space-md: 1.2rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;
}
/*footer*/
footer {
  background-color: var(--accent);
  height: 50px;
  margin-top: 30px;
}

/* menu */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

main {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 40px;
}
body {
  background-color: var(--primary);
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #7e3549;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 30;
}

.logo img {
  width: 60px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #f8f9f9;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-family: "Baskervville";
  font-weight: 400;
}

.menu a:hover {
  color: var(--secondary);
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #f8f9f9;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #7e3549;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}
/**************FONTS***********/
h2 {
  font-family: "Baskervville";
  color: var(--brown);
  font-size: var(--space-sm);
  text-align: center;
  margin-bottom: 1.5rem;
}
h3 {
  font-family: "Baskervville";
  color: var(--brown);
  font-size: var(--space-sm);
}
h1 {
  font-family: "Satisfy";
  margin: 25px;
}
/**********************INDEX***********************/
/*hero*/
.herosection {
  position: relative;
  width: 100%;
  height: 100%;
}
#hero {
  width: 100%;
  height: 45vh;
}
.lottie {
  position: absolute;
  top: 8%;
  left: 22%;
  z-index: 1;
  object-fit: cover;
  transform: scale(3.8);
}

.name {
  position: absolute;
  top: 38%;
  left: 33%;
  font-size: 1.2rem;
}

.slogan {
  font-size: var(--space-xs);
  position: absolute;
  top: 42%;
  left: 18%;
}
.knap a {
  z-index: 10;
  color: var(--brown);
  pointer-events: auto;
  font-family: "Quattrocento Sans";
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
  text-transform: capitalize;
  position: absolute;
  top: 50%;
  left: 40%;
  text-align: center;
  padding: 8px 35px;
  border-radius: 5px;
  border: 1px solid #000;
}

/******image****/
.img1_1 img {
  box-shadow: var(--accent) 15px -10px;
  border-radius: 15px;
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 2rem;
  display: block;
}
/********projekter**********/
.projekter a {
  z-index: 20;
  color: var(--brown);
  pointer-events: auto;
  width: 250px;
  font-size: 14px;
  text-decoration: underline;
  text-align: center;
  padding: 8px 35px;
  border-radius: 5px;
  border: 1px solid #000;
  display: inline-block;
}
a:hover {
  color: var(--accent);
  background-color: transparent;
  text-decoration: underline;
}
.projekter {
  margin-top: 25px;
  margin-left: 22%;
}
.projekter_h1 {
  text-align: center;
}
/*************citat***********/
.grid1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--secondary);
  margin-top: 3rem;
  gap: 40px;
  margin-bottom: 2rem;
}
.citat {
  width: 125%;
  height: 100%;
  object-fit: cover;
}
.citat_text {
  margin: 40px;
  text-align: center;
  font-family: "Baskervville";
  font-size: 1rem;
  text-transform: uppercase;
}
/***********************GALLERY********/
:hover .grid1_3 img:not(:hover) {
  /***from Codepen***/
  filter: saturate(0.2) opacity(0.5);
}
.grid1_2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.grid1_2 img {
  height: 100%;
  object-fit: cover;
}
@media (min-width: 1200px) {
  h2 {
    font-size: var(--space-md);
  }
  .img1_1 img {
    width: 30%;
  }
  #hero {
    position: relative;
    width: 100%;
    height: 82vh;
    object-fit: cover;
  }

  .lottie {
    position: absolute;
    top: 20%;
    left: 40%;
    scale: 2;
  }

  .name {
    top: 60%;
    left: 40%;
    font-size: 2rem;
  }

  .slogan {
    font-size: var(--space-md);
    position: absolute;
    top: 68%;
    left: 34%;
  }
  .knap a {
    font-size: 18px;
    top: 80%;
    left: 44%;
    padding: 10px 45px;
  }
  .projekter a {
    z-index: 20;
    color: var(--brown);
    pointer-events: auto;
    width: 300px;
    font-size: 18px;
    text-decoration: underline;
    text-align: center;
    padding: 8px 35px;
    border-radius: 5px;
    border: 1px solid #000;
    display: inline-block;
    position: relative;
  }
  a:hover {
    color: var(--accent);
    background-color: transparent;
    text-decoration: underline;
  }
  .projekter {
    margin-left: 40%;
    pointer-events: auto;
  }
  .projekter_h1 {
    text-align: center;
  }
  .projekter_columns {
    z-index: 10;
    position: relative;
  }

  .citat_text {
    margin-top: 130px;
    text-align: left;
    font-family: "Baskervville";
    font-size: 1.6rem;
    text-transform: uppercase;
  }
  .grid1_1 {
    width: 100%;
    height: 50vh;
    gap: 20px;
  }
  .citat {
    margin-left: 80px;
    width: 60%;
    height: 100%;
  }

  /***************gallery*********/

  .grid1_2 {
    max-width: 40%;
    max-height: max-content;
    margin: 0 auto;
  }
  .img1 {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .spil {
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
  }
}
