/**
 * fonte
 *
 * @format
 */

/* 
font-family: "Baskervville"
font-family: "Quattrocento" 
font-family: "Satisfy" 
*/

:root {
  --primary: #e7e7dd;
  --secondary: #b8b1a7;
  --accent: #7e3549;
  --brown: #3c2d2a;

  --space-xxs: 0.25rem;
  --space-xs: 0.8rem;
  --space-sm: 0.9rem; /***h3**/
  --space-md: 1.4rem; /*h2*/
  --space-lg: 2.2rem; /**h1**/
  --space-xl: 2.6rem;
  --space-xxl: 6rem;
}
/************footer***********/
footer {
  background-color: var(--accent);
  height: 50px;
  margin-top: 30px;
}

/**************** menu **************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

main {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 40px;
}
body {
  background-color: var(--primary);
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #7e3549;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 30;
}

.logo img {
  width: 60px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #f8f9f9;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-family: "Baskervville";
  font-weight: 400;
}

.menu a:hover {
  color: var(--secondary);
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #f8f9f9;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #7e3549;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}
/**************FONTS og farve***********/
/* 
font-family: "Baskervville"
font-family: "Quattrocento" 
font-family: "Satisfy" 
*/

:root {
  --primary: #e7e7dd;
  --secondary: #b8b1a7;
  --accent: #7e3549;
  --brown: #3c2d2a;

  --space-xxs: 0.25rem;
  --space-xs: 0.8rem;
  --space-sm: 0.9rem; /***h3**/
  --space-md: 1rem;
  --space-lg: 2.2rem; /**h1**/
  --space-xl: 2.6rem;
  --space-xxl: 6rem;
}
h1,
h2 {
  text-align: center;
  margin-top: 2rem;
}
h2 {
  font-size: var(--space-md);
  text-transform: uppercase;
  font-family: "Baskervville";
  color: var(--brown);
  margin-top: 0.5rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  max-width: 55ch;
}
h3 {
  font-family: "Baskervville";
  font-size: var(--space-sm);
  margin: 15px;
  margin-top: 2rem;
  color: var(--accent);
  text-transform: uppercase;
}

p ul {
  font-family: "Quattrocento";
  font-size: var(--space-xs);
  line-height: 18px;
}

h1 {
  font-family: "Satisfy";
  font-size: var(--space-lg);
}

/**********************INDEX***********************/
/*hero*/
.herosection {
  position: relative;
  width: 100%;
  height: 100%;
}
#hero {
  width: 100%;
  height: 45vh;
}
.lottie {
  position: absolute;
  top: 8%;
  left: 20%;
  z-index: 1;
  object-fit: cover;
  transform: scale(3.8);
}

.name {
  position: absolute;
  top: 38%;
  left: 52%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.2rem;
}

.slogan {
  font-size: var(--space-xs);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.knap a {
  z-index: 10;
  color: var(--brown);
  pointer-events: auto;
  font-family: "Quattrocento Sans";
  font-size: 12px;
  font-weight: 400;
  text-decoration: underline;
  text-transform: capitalize;
  position: absolute;
  top: 50%;
  left: 40%;
  text-align: center;
  padding: 8px 30px;
  border-radius: 5px;
  border: 1px solid #000;
}

/******image****/
.img1_1 img {
  box-shadow: var(--accent) 15px -10px;
  border-radius: 15px;
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 2rem;
  display: block;
}
/********projekter**********/
.projekter a {
  z-index: 20;
  color: var(--brown);
  pointer-events: auto;

  width: 250px;
  text-decoration: underline;
  text-align: center;
  padding: 8px 35px;
  border-radius: 5px;
  border: 1px solid #000;
  display: inline-block;
}
a:hover {
  color: var(--accent);
  background-color: transparent;
  text-decoration: underline;
}
.projekter {
  margin-top: 25px;
  margin-left: 22%;
}
.projekter_h3 {
  text-align: center;
  margin-bottom: 2rem;
}
/*************citat***********/
.reflexion_web {
  background-color: var(--secondary);
}
.reflexion_ux_tekst {
  max-width: 45ch;
  text-align: justify;
  margin: 0 auto;
  padding-bottom: 30px;
}
.reflexion_ux_tekst h2 {
  margin-top: 1rem;
}
.grid1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--secondary);
  margin-top: 3rem;
  gap: 40px;
  margin-bottom: 2rem;
}
.citat {
  width: 125%;
  height: 100%;
  object-fit: cover;
}
.citat_text {
  margin: 40px;
  text-align: center;
  font-family: "Baskervville";
  font-size: 1rem;
  text-transform: uppercase;
}
/***********************GALLERY********/
:hover .grid1_3 img:not(:hover) {
  /***from Codepen***/
  filter: saturate(0.2) opacity(0.5);
}
.grid1_2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.grid1_2 img {
  height: 100%;
  object-fit: cover;
}

@media (min-width: 1200px) {
  h2 {
    font-size: var(--space-md);
  }
  h3 {
    font-size: var(--space-sm);
    text-align: left;
  }
  .img1_1 img {
    width: 30%;
  }
  #hero {
    position: relative;
    width: 100%;
    height: 82vh;
    object-fit: cover;
  }

  .lottie {
    position: absolute;
    top: 20%;
    left: 40%;
    scale: 2;
  }

  .name {
    top: 60%;
    left: 48%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2rem;
  }

  .slogan {
    font-size: var(--space-md);
    position: absolute;
    top: 64%;
    left: 47%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .knap a {
    font-size: 18px;
    top: 75%;
    left: 43%;
    padding: 10px 35px;
  }
  .projekter a {
    z-index: 20;
    color: var(--brown);
    pointer-events: auto;
    width: 300px;
    font-size: 18px;
    text-decoration: underline;
    text-align: center;
    padding: 8px 35px;
    border-radius: 5px;
    border: 1px solid #000;
    display: inline-block;
    position: relative;
  }
  a:hover {
    color: var(--accent);
    background-color: transparent;
    text-decoration: underline;
  }
  .projekter {
    margin-left: 40%;
    pointer-events: auto;
  }
  .projekter_h1 {
    text-align: center;
  }
  .projekter_columns {
    z-index: 10;
    position: relative;
  }

  .citat_text {
    margin-top: 130px;
    text-align: left;
    font-family: "Baskervville";
    font-size: 1.6rem;
    text-transform: uppercase;
  }
  .grid1_1 {
    width: 100%;
    height: 50vh;
    gap: 20px;
  }
  .citat {
    margin-left: 80px;
    width: 60%;
    height: 100%;
  }

  /***************gallery*********/

  .grid1_2 {
    max-width: 40%;
    max-height: max-content;
    margin: 0 auto;
  }
  .img1 {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .spil {
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
  }
}
/***************************WEB**************************************/

.viden {
  margin: 20px;
  margin-left: 40px;
  max-width: 314px;
  margin-top: 1rem;
}
li {
  margin-left: 30px;
  margin-bottom: 10px;
  line-height: 18px;
  max-width: 50ch;
}
.comp img {
  margin-top: 20px;
}

.projekt_name {
  font-size: 1.2rem;
  margin-top: 3rem;
  color: var(--accent);
}
.teknology {
  margin-left: 30px;
  font-size: medium;
}
.grid2_2 img {
  display: none;
}

/***********************************************carousel********************************/

.slides {
  padding: 0;
  width: 609px;
  height: 420px;
  display: block;
  margin: 0 auto;
  position: relative;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.slides input {
  display: none;
}

.slide-container {
  display: block;
}

.slide {
  top: 0;
  opacity: 0;
  width: 409px;
  height: auto;
  display: block;
  position: absolute;
  top: 15%;
  transform: scale(0);
  right: 30%;
  transition: all 0.7s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
}

.nav label {
  width: 200px;
  height: 100%;
  display: none;
  position: absolute;

  opacity: 0;
  z-index: 9;
  cursor: pointer;

  transition: opacity 0.2s;

  color: #fff;
  font-size: 156pt;
  text-align: center;
  line-height: 380px;
  font-family: "Varela Round", sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label {
  opacity: 0.5;
}

.nav label:hover {
  opacity: 1;
}

.nav .next {
  right: 20%;
}

input:checked + .slide-container .slide {
  opacity: 1;

  transform: scale(1);

  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label {
  display: block;
}

.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}

/***************************WEB desktop*********/
@media (min-width: 1200px) {
  .grid2_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    width: 147ch;
    margin: 0 auto;
    text-align: justify;
    line-height: 1.6;
    margin-top: 3rem;
  }

  .img_reflexion {
    width: 50%;
    margin-left: 30%;
    object-fit: cover;
  }
  .text_reflexion p {
    font-size: var(--space-md);
    max-width: 65ch;
    text-align: justify;
    line-height: 1.3;
  }

  .projekt_name {
    color: var(--accent);
    margin-bottom: 3rem;
  }
  .grid2_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 1200px;
  }
  .grid2_2 img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 1.6rem;
  }

  /*************carousel**********/

  .slides {
    padding: 0;
    width: 609px;

    display: block;
    margin: 0 auto;
    position: relative;
  }
  .slides img {
    width: 100%;
    height: auto;
  }
  .slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }

  .slides input {
    display: none;
  }

  .slide-container {
    display: block;
  }

  .slide {
    top: 0;
    opacity: 0;
    width: 609px;
    height: 420px;
    display: block;
    position: absolute;
    left: 0;
    transform: scale(0);

    transition: all 0.7s ease-in-out;
  }

  .slide img {
    width: 100%;
    height: auto;
  }

  .nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

    opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity 0.2s;

    color: #fff;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, 0.3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
  }

  .slide:hover + .nav label {
    opacity: 0.5;
  }

  .nav label:hover {
    opacity: 1;
  }

  .nav .next {
    right: 0;
  }

  input:checked + .slide-container .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
  }

  input:checked + .slide-container .nav label {
    display: block;
  }

  .nav-dots {
    width: 100%;
    bottom: 9px;
    height: 11px;
    display: block;
    position: absolute;
    text-align: center;
  }

  .nav-dots .nav-dot {
    top: -15%;
    left: 18%;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
  }

  input#img-1:checked ~ .nav-dots label#img-dot-1,
  input#img-2:checked ~ .nav-dots label#img-dot-2,
  input#img-3:checked ~ .nav-dots label#img-dot-3,
  input#img-4:checked ~ .nav-dots label#img-dot-4,
  input#img-5:checked ~ .nav-dots label#img-dot-5,
  input#img-6:checked ~ .nav-dots label#img-dot-6 {
    background: rgba(0, 0, 0, 0.8);
  }

  /**************************UX/UI********************/
  .grid3_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    gap: 50px;
    width: 1200px;
    height: 300px;
  }
  .Webudvikling {
    margin-top: 4rem;
  }
  .testing {
    margin-top: 4rem;
  }
  .viden_img img {
    margin-top: 4.5rem;
    border-radius: 30px;
    border-radius: 15px;
    width: 110%;
    height: auto;
    display: block;
    box-shadow: var(--accent) 15px -10px;
  }
  .viden_ux_1 {
    text-align: left;
    margin-left: 3rem;
  }

  .reflexion_web {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--secondary);
    gap: 50px;
    margin-bottom: 2rem;
  }

  .reflexion_ux_img {
    object-fit: cover;
    width: 70%;
    margin-left: 30%;
    height: 100%;
  }
  .reflexion_ux_tekst {
    max-width: 55ch;
    text-align: justify;
    padding: 20px;
  }
}
