/**
 * fonte
 *
 * @format
 */

/**************** menu **************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

main {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 40px;
}
body {
  background-color: var(--primary);
}

/* General styles */
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  background-color: #7e3549;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 30;
}

.logo img {
  width: 60px;
}

nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.8rem;
}

.menu li {
  margin: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #f8f9f9;
  text-decoration: none;
  font-size: 16px;
  font-family: "Baskervville";
  font-weight: 400;
  transition: color 0.3s;
}

.menu a:hover {
  color: var(--secondary);
}

.icons {
  display: flex;
  gap: 1rem;
}

.icons a {
  text-decoration: none;
  font-size: 1rem;
  color: #f8f9f9;
  transition: color 0.3s;
}

.icons a:hover {
  color: var(--secondary);
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #f8f9f9;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .icons {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: var(--brown);
    position: absolute;
    top: 75px;
    left: 180px;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 18px;
  }
}
/************footer***********/
footer {
  background-color: var(--accent);
  height: 50px;
  margin-top: 30px;
}
/**************FONTS og farve***********/
/* 
font-family: "Baskervville"
font-family: "Quattrocento" 
font-family: "Satisfy" 
*/

:root {
  --primary: #e7e7dd;
  --secondary: #b8b1a7;
  --accent: #7e3549;
  --brown: #6b5450;

  --space-xxs: 0.25rem;
  --space-xs: 0.8rem; /*p*/
  --space-sm: 0.9rem; /***h3**/
  --space-md: 1rem; /*h2*/
  --space-lg: 2.2rem; /**h1**/
  --space-xl: 2.6rem;
  --space-xxl: 6rem;
}
p {
  font-family: "Quattrocento";
  line-height: 1.5;
  font-size: var(--space-xs);
}
h1 {
  font-family: "Satisfy";
  font-size: var(--space-lg);
  margin-top: 1rem;
}

h1,
h2 {
  text-align: center;
}
.reflexion_h2 {
  margin-bottom: 0;
  margin-top: 2rem;
}
h2 {
  font-size: var(--space-md);
  text-transform: uppercase;
  font-family: "Baskervville";
  color: var(--brown);
  text-align: center;
  margin: 0 auto;
  margin-top: 1rem;
}
h3 {
  font-family: "Baskervville";
  font-size: var(--space-sm);
  margin: 15px;
  margin-top: 2rem;
  color: var(--accent);
  text-transform: uppercase;
}
.ul {
  font-family: "Quattrocento";
  font-size: var(--space-xs);
  line-height: 18px;
  max-width: 45ch;
  margin-bottom: 30px;
}

.discription {
  color: #6b5450;
  margin-top: 0.5rem;
  text-align: center;
}
.projekter_h1 {
  margin-top: 2rem;
}
/**********************INDEX***********************/
/*hero*/
.herosection {
  position: relative;
  width: 100%;
  height: 100%;
}
#hero {
  width: 100%;
  height: 45vh;
}
.lottie {
  position: absolute;
  top: 3%;
  left: 17%;
  z-index: 1;
  transform: scale(3.6);
}

.name {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.2rem;
}

.slogan {
  font-size: var(--space-xs);
  position: absolute;
  top: 34%;
  left: 47%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.img1_1 img {
  display: none;
}
/*************knap****************/
.knap a {
  z-index: 10;
  color: var(--brown);
  pointer-events: auto;
  font-family: "Quattrocento Sans";
  font-size: 12px;
  font-weight: 400;
  text-decoration: underline;
  text-transform: capitalize;
  position: absolute;
  top: 44%;
  left: 37%;
  text-align: center;
  padding: 8px 30px;
  border-radius: 5px;
  border: 1.4px solid #000;
}
.link a {
  z-index: 10;
  color: var(--brown);
  pointer-events: auto;
  font-family: "Quattrocento Sans";
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  text-transform: capitalize;
  margin-left: 120px;
  text-align: center;
  padding: 8px 36px;
  border-radius: 5px;
  border: 1.5px solid #000;
  margin-top: 30px;
  margin-bottom: 30px;
}

/********projekter**********/

.projekter a {
  position: relative;
  z-index: 50;
  color: var(--accent);
  pointer-events: auto;
  font-size: var(--space-xs);
  width: 250px;
  margin-left: 70px;
  text-decoration: underline;
  text-align: center;
  padding: 8px 35px;
  border-radius: 5px;
  border: 1.4px solid #000;
  display: inline-block;
}
a:hover {
  color: var(--secondary);
  background-color: transparent;
  text-decoration: underline;
}
.projekter {
  margin-top: 25px;
}
.projekter h3 {
  text-align: center;
  margin-bottom: 2rem;
}
.reflexion_citat h2 {
  font-size: 1rem;
  text-align: center;

  margin-bottom: 2rem;
  padding: 80px;
}
.reflexion_web {
  background-color: var(--secondary);
}
.reflexion_web p {
  text-align: justify;
  padding: 30px;
}
.grid4_2_img {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}
/*************GALLERY fra codepen********/
:hover .grid1_3 img:not(:hover) {
  filter: saturate(0.2) opacity(0.5);
}
.grid1_2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.grid1_2 img {
  height: 100%;
  object-fit: cover;
}
.hide_mobil {
  display: none;
}
/**************************DESKTOP**************/

@media (min-width: 1200px) {
  /****fonts****/
  .reflexion_h2 {
    font-size: 1.3rem;
    margin-left: 150px;
  }
  .reflexion_citat h2 {
    font-size: 1.3rem;
    text-align: left;
    margin-top: 50px;
  }
  p {
    font-size: var(--space-xs);
  }
  h2 {
    font-size: var(--space-md);
  }
  h3 {
    font-size: var(--space-sm);
    text-align: center;
  }
  /*****************index*********/
  .img1_1 img {
    display: block;
    width: 60%;
    margin-top: 6.5rem;
    box-shadow: var(--accent) 15px -10px;
    border-radius: 15px;
  }
  .grid1_0 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
  }
  #hero {
    position: relative;
    width: 100%;
    height: 82vh;
    object-fit: cover;
  }

  .lottie {
    position: absolute;
    top: 20%;
    left: 40%;
    scale: 2;
  }

  .name {
    top: 60%;
    left: 48%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2rem;
  }

  .slogan {
    font-size: var(--space-md);
    position: absolute;
    top: 64%;
    left: 48%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .knap a {
    font-size: 16px;
    top: 75%;
    left: 44%;
    padding: 10px 35px;
  }
  .projekter a {
    z-index: 20;
    color: var(--brown);
    pointer-events: auto;
    width: 300px;

    text-decoration: underline;
    text-align: center;
    padding: 8px 35px;
    border-radius: 5px;
    border: 1px solid #000;
    display: inline-block;
    position: relative;
  }
  a:hover {
    color: var(--accent);
    background-color: transparent;
    text-decoration: underline;
  }
  .projekter {
    margin-left: 40%;
    pointer-events: auto;
  }
  .projekter_h1 {
    text-align: center;
    margin-left: 380px;
    margin-top: 40px;
  }
  .projekter_columns {
    z-index: 10;
    position: relative;
  }
  .grid1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--secondary);
    margin-top: 3rem;
    gap: 40px;
    margin-bottom: 2rem;
  }
  .citat_text {
    margin-top: 130px;
    text-align: left;
    font-family: "Baskervville";
    font-size: 1.6rem;
    text-transform: uppercase;
  }
  .grid1_1 {
    z-index: 20;
    width: 100%;
    height: 50vh;
    gap: 20px;
  }
  .citat {
    margin-left: 80px;
    width: 60%;
    height: 100%;
  }

  /***************gallery*********/

  .grid1_2 {
    max-width: 40%;
    max-height: max-content;
    margin: 0 auto;
  }
  .img1 {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .spil {
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
  }
}
/******************WEB**********************/
.grid_2_2_web {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.viden {
  margin: 20px;
  margin-left: 40px;
  max-width: 314px;
  margin-top: 1rem;
}

li {
  margin-left: 30px;
  margin-bottom: 18px;
  line-height: 18px;
  max-width: 50ch;
}
.comp img {
  margin-top: 20px;
}

.projekt_name {
  font-size: 1.2rem;
  padding-top: 2rem;
  color: var(--accent);
  margin: 0 auto;
}
.projekt_name_gallery {
  font-size: 1.2rem;
  padding: 2rem;
  color: var(--accent);
  margin: 0 auto;
}
.teknology {
  margin-left: 60px;
}

/*********************carousel********************************/
/*******med hjælp af Chat GPT*******/
.slider {
  position: relative;
  width: 100%;
  max-width: 360px;
  overflow: hidden;

  border-radius: 15px;
  background: none;
  margin: 0 auto;
  margin-top: 1rem;
  height: 218px;
}
.slider_inhold {
  position: relative;
  width: 100%;
  max-width: 360px;
  height: 100%;

  border-radius: 15px;
  object-fit: cover;
  margin: 0 auto;
  margin-top: 1rem;
  height: 218px;
  overflow: hidden;
}
.slider-container {
  display: flex;

  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
  background-color: #7e3549;
}

.slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  position: absolute;
  top: 50%;
  border-radius: 15px;
  transform: translateY(-50%);
  background: rgba(70, 12, 12, 0.511);
  color: white;
  border: none;
  font-size: 1.6rem;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 10;
  outline: none;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

@media (min-width: 1200px) {
  .slider {
    max-width: 600px;
    height: auto;
  }
  button {
    font-size: 3rem;
  }
}

/******************om mig***************/

.mig {
  width: 60%;
  margin: 0 auto;
  margin-top: 5%;
}
.reflexion_web_mig {
  margin-top: 50px;
  margin-bottom: 10px;
  background-color: var(--secondary);
}
.text_om_mig {
  padding: 60px;
}
.text_om_mig_1 {
  font-size: 15px;
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 1.4;
  text-indent: 30px;
  width: 45ch;
  margin-top: 15px;
}
.img5_1 {
  margin-top: 1rem;
}
.cv {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
}

/****************icons med hjælp af www.w3schools.com**********/
.social-icons i {
  color: var(--secondary);
  transition: color 0.3s ease, transform 0.3s ease;
  margin: 0 10px;
}
.social-icons {
  padding: 10px;
  margin-left: 30%;
}
.social-icons i:hover {
  transform: scale(1.2);
  color: white;
}
.tak {
  text-align: center;
}
.mig_1 {
  display: none;
}
/***************************WEB desktop*********/

@media (min-width: 1200px) {
  .link a {
    margin: 0;
  }
  .grid_2_2_web {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  .social-icons {
    padding: 10px;
    margin-left: 45%;
  }
  .grid4_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .grid4_2_img {
    width: 70%;
    margin-left: 20%;
  }
  .grid2_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    width: 147ch;
    margin: 0 auto;
    text-align: justify;
    line-height: 1.6;
  }

  .img_reflexion {
    width: 50%;
    margin-left: 30%;
    object-fit: cover;
  }
  /*******************fonts**************/
  .discription {
    font-size: medium;
  }
  .reflexion_web p {
    font-size: var(--space-sm);
    width: 50ch;
    text-align: justify;
    line-height: 1.5;
    margin-left: 50px;
  }
  ul {
    font-size: 16px;
  }
  .projekt_name {
    color: var(--accent);
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  .grid2_2 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 60%;
    gap: 20px;
  }
  .grid2_2 img {
    box-shadow: var(--accent) 15px -10px;
    border-radius: 15px;
    display: block;
    height: auto;
  }

  /**************************UX/UI********************/
  .grid3_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    gap: 50px;
    width: 1200px;
    height: 300px;
  }
  .Webudvikling {
    margin-top: 4rem;
  }

  .viden_img img {
    margin-top: 4.5rem;
    border-radius: 15px;
    width: 110%;
    height: auto;
    display: block;
    box-shadow: var(--accent) 15px -10px;
  }
  .viden_ux_1 {
    text-align: left;
    margin-left: 3rem;
  }

  .reflexion_web {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--secondary);
    gap: 50px;
    margin-bottom: 2rem;
  }

  .reflexion_ux_img {
    object-fit: cover;
    width: 70%;
    margin-left: 30%;
    height: 100%;
  }
  .reflexion_ux_tekst {
    max-width: 55ch;
    text-align: justify;
    padding: 20px;
  }
  .hide_desktop {
    display: none;
  }
  .hide_mobil {
    width: 80%;
    display: block;
    margin-top: 2rem;
    margin-left: 18%;
  }
  /*******************ANIMATION**********************/
  .grid4_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 850px;
    gap: 100px;
  }

  /************************inhold web*****************/
  .logo_virk {
    margin-top: 6.5rem;
    width: 90%;
    margin-left: 100px;
  }
  .grid4_2_img {
    width: 90%;
  }

  .virksomhed_name {
    margin-top: 3rem;
  }
  .grid_links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 40%;
    margin: 0 auto;
  }
  /**********************om mig*************/
  .cv {
    width: 30%;
  }
  .cv:hover {
    scale: 1.1;
  }
  .mig {
    display: none;
  }
  .mig_1 {
    display: block;
    width: 36%;
    margin-left: 45%;
    height: 100%;
  }
  .text_om_mig {
    margin-top: 4%;
    margin-right: 40%;
    font-size: 1.2rem;
  }
  .text_om_mig_1 {
    text-align: justify;
    padding: 0px;
    line-height: 1.8;
    margin-left: 55px;
  }

  .reflexion_web_mig {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .img5_1 {
    width: 80%;
    margin-top: 5rem;
    margin-left: 50px;
  }
}
